@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post" asp-controller="SendMailer" asp-action="Create" asp-route-returnUrl="@Model.ReturnUrl">
       <button type="submit" value="">Change Password</button>
   </form>
</div>
